#root {
  height: 100%;
}

.ant-spin {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.app-root {
  height: 100%;
}

.app-root .logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
  padding-bottom: 55px;
  overflow: hidden;
}

.logo > img {
  width: 100%;
  filter: invert(77%);
}

.ant-layout-sider-collapsed > .logo > img {
  width: 180px;
}

.ant-layout {
  height: 100%;
  background: #ddd;
}

.app-root .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.app-root .ant-layout-sider-collapsed .nav-text {
  display: none;
}

.app-root .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

ul.ant-menu {
  text-transform: uppercase;
}

.content-header > .ant-breadcrumb {
  text-transform: uppercase;
}

.content-header {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  transition: width .1s;
  z-index: 1000;
  background: #ddd;
}

.content-header.white {
  background: #fff;
}

.ant-layout.white {
  background: #fff;
}

.page-header {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 46px;
  background: #888;
}

.ant-menu.ant-menu-horizontal.ant-menu-dark.ant-menu-root {
  background: #888;
  border-bottom-color: #888;
}

.ant-layout-content {
  margin-top: 64px;
  margin-bottom: 64px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-container > .ant-slider {
  margin-left: 30px;
  width: 100px;
  border-color: #ddd;
}

.illustration {
  height: calc(100% - 80px);
  flex-shrink: 1;
  margin: 16px;
}

.illustration div {
  height: 100%;
}

.carousel.carousel-slider {
  height: 100%;
}

.slider-wrapper.axis-horizontal {
  height: 100% !important;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  height: 100% !important;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  height: 100% !important;
}

.carousel .slide {
  background: #fff;
}

.carousel .slide img {
  height: 100%;
  width: auto;
}

.carousel.carousel-slider .control-arrow {
  background: #ccc;
}

#Gallery {
  margin: 64px 16px;
}

#Gallery .tile {
  margin: 10px !important;
}
