#root {
  height: 100%;
}

.ant-spin {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.app-root {
  height: 100%;
}

.app-root .logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
  padding-bottom: 55px;
  overflow: hidden;
}

.logo > img {
  width: 100%;
  filter: invert(77%);
}

.ant-layout-sider-collapsed > .logo > img {
  width: 180px;
}

.app-root .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.app-root .ant-layout-sider-collapsed .nav-text {
  display: none;
}

.app-root .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

ul.ant-menu {
  text-transform: uppercase;
}

.content-header > .ant-breadcrumb {
  text-transform: uppercase;
}

.ant-layout-header {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-container > .ant-slider {
  margin-left: 30px;
  width: 100px;
  border-color: #ececec;
}

.illustration {
  height: calc(100% - 148px);
  flex-shrink: 1;
  margin: 0 16px;
}

.illustration div {
  height: 100%;
}

.carousel.carousel-slider {
  height: 100%;
}

.slider-wrapper.axis-horizontal {
  height: 100% !important;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  height: 100% !important;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  height: 100% !important;
}

.carousel .slide {
  background: #ececec;
}

.carousel .slide img {
  height: 100%;
  width: auto;
}

.carousel.carousel-slider .control-arrow {
  background: #ccc;
}

#Gallery {
  margin: 0 16px;
}